.hide-scroll {
    -ms-overflow-style: none;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
.header-font {
    font-family: 'Playfair Display', serif;
}
.logo-font {
    font-family: 'Kalam', cursive;
    font-size: 30px;
    height: 56px;
    width: 56px;
    line-height: 60px;
    color: #ffffff;
    a {
        color: #ffffff !important;
        text-decoration: none;
    }
}