$color-black: #000000;
$color-white: #ffffff;

$font-primary: 'Avenir', Helvetica, Arial, sans-serif;

//cleanup-GO color scheme
    // $color-primary: #something;
    // $color-secondary: #somethingelse;
    // $color-tertiary: #somethingelseelse;